# Python compiled files
*.py[cod]

# Config file
config.py

# Log files
*.log
*.dmp

# Preset files
*.bp

# Binary files
*.exe

# Temporary files
*.tmp

# Settings file
*.ini

# Utility folder
utils/

# Temporary folder
temp/
