# Your settings. Change at will

# Possible language choices: English (en), French (fr) for now
# This does NOT affect your in-game language
# However, it will default to this when installing
# Default means to use the system's current language
# None means to use Bootleg's default, English

LANGUAGE = "Default"

# If True, the "Available commands" will not appear, and Bootleg will run directly

SILENT_RUN = True

# This option will automatically check for updates on startup
# It's recommended to keep this on to check easily

AUTO_UPDATE = True

# If this is True, it will not prompt the user
# and will automatically fetch the update

SILENT_UPDATE = True

# Developper/debugger options. enable only if a developper asks you to

DEV_LOG = False

# User settings

# Battle models

CLOUD_BATTLE       = ""
BARRET_BATTLE      = ""
TIFA_BATTLE        = ""
YUFFIE_BATTLE      = ""
RED_XIII_BATTLE    = ""
CAIT_BATTLE        = ""
VINCENT_BATTLE     = ""
SEPHIROTH_BATTLE   = ""

# Field models

CLOUD_FIELD        = ""
SEPHIROTH_FIELD    = ""
YUFFIE_FIELD       = ""
TIFA_FIELD         = ""
AERITH_FIELD       = ""
VINCENT_FIELD      = ""
BARRET_FIELD       = ""
RED_XIII_FIELD     = ""
CID_FIELD          = ""

# Textures

TRISH_SAVE         = ""
TRISH_PHOENIX      = ""
TRISH_MASAMUNE     = ""
AVALANCHE          = ""
MENU_BACKGROUND    = ""
LIMIT_BREAK        = ""
OPENING_CREDITS    = ""
AVALANCHE_GUI      = ""
BATTLE_SCENES_LGP  = ""
BATTLE_SCENES_PNG  = ""
FIELD_TEXTURES     = ""
ROMEO_MAT          = ""
CONDOR_MINIGAME    = ""
COIN_SKILL         = ""
BLUE_COUNTER       = ""
GLITCHED_FIELD     = ""
GRIMMY_MAGIC       = ""
CLOUD_SWORDS       = ""
CAIT_WEAPONS       = ""

# Models

TANK_PIRATE_SHIP   = ""
NEW_AERITH         = ""
BASE_MODELS        = ""
GUARD_SCORPION     = ""
SWEEPER            = ""
MATERIAS_MODELS    = ""
RUBY_WEAPON        = ""
FIELD_POTIONS      = ""
GRIMMY_HUGE_MAT    = ""
BUGGY_COSTA        = ""
SUBMARINE_COSTA    = ""
HIGHWIND_COSTA     = ""
CUSTOM_MODELS      = ""

# Assault team

ASSAULT_BIGGS      = ""
ASSAULT_JESSIE     = ""
ASSAULT_WEDGE      = ""

# New hair

CLOUD_HAIR         = ""
TIFA_HAIR          = ""
YUFFIE_HAIR        = ""

# Gameplay modifications

NIGHTMARE_SEVEN    = ""
AERITH_REVIVAL     = ""
REUNION            = ""
SPELL_PATCH        = ""
KERNEL_SELECT      = ""
NEW_THREAT_MOD     = ""
HARDCORE_GJOERULV  = ""

# Avatars

CLOUD_AVATARS      = ""
BARRET_AVATARS     = ""
TIFA_AVATARS       = ""
AERITH_AVATARS     = ""
RED_XIII_AVATARS   = ""
YUFFIE_AVATARS     = ""
CAIT_AVATARS       = ""
VINCENT_AVATARS    = ""
CID_AVATARS        = ""
YOUNG_AVATARS      = ""
SEPHIROTH_AVATARS  = ""
CHOCOBO_AVATARS    = ""

# Media

MOVIES             = ""
SOUNDTRACK         = ""
AV_SOUND_FX        = ""
FMV_NO_CAIT        = ""
RETRANSLATED_FMV   = ""

# Other

ANY_CD             = ""
LAPTOP_KEYPATCH    = ""
STYLE_SWITCHER     = ""
GAME_LANGUAGE      = ""
ALWAYS_RUN_TOGGLE  = ""
KRANMER_MASTER     = ""
RE_ANIMATIONS      = ""
NEW_60_FPS         = ""

# System settings

DEBUG_CODE         = ""
CREATE_IMAGE       = ""

# Path settings

FFVII_IMAGE        = ""
FFVII_PATH         = ""
BOOTLEG_TEMP       = ""
MOD_LOCATION       = ""
CD_DRIVE           = ""
SYS_FOLDER         = ""

# Kernel settings

REASONABLE_DIFF    = ""
REMASTERED_AI      = ""
SCENE_REDUX        = ""
ITEMS_EASY         = ""
ITEMS_NORMAL       = ""
ITEMS_DIFFICULT    = ""
LOST_WINGS         = ""
MODE_SWITCHING     = ""
AERITH_INSTALLED   = ""
AERITH_HARDCORE    = ""
HARDMOD_INSTALLED  = ""

# Do not edit past here if you don't know what you're doing

DISALLOW_CONFIG = False # ignores current config file

IGNORE_LOCAL_CHANGES = False # enable only if you need to do changes

FETCH_GIT = True # if the local instance is not a clone, it will make it so

# Debug mode options. edit at your own risk

DEBUG_MODE = False
DELETE_TEMP = True # determines whether to remove or not the temp folder after install